<br />
<div class="container" *ngIf="blogPost">
    <div class="row">
        <div class="col-md-12">
            <form #editPostForm="ngForm" (submit)="onSubmit(editPostForm)">
                <div>
                    <div class="form-group">
                        <label>Title</label>
                        <input [(ngModel)]="blogPost.title" name="title" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Featured Image (URL)</label>
                        <input [(ngModel)]="blogPost.featuredImage" name="image" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Post</label>
                        <textarea [(ngModel)]="blogPost.post" name="post" class="form-control" style="min-height:200px"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <input [(ngModel)]="blogPost.category" name="category" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <textarea [(ngModel)]="tags" name="tags" class="form-control"></textarea>
                    </div>

                    <div class="pull-right"> &nbsp; <button type="submit" class="btn btn-success btn-sm">Add Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />